NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/enagram

# Must be at least 64 characters of random data
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

MAILERSEND_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_FROM=Enagram <noreply@enagram.com>
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=uploads/
